$color: steelblue;
$primary: /*rgb(204, 143, 233);*/ #CC8FE9;
$secondary: #CC8FE9;
$body-bg: #4086E2;


@import '~bootstrap/scss/bootstrap.scss';

.my-flix {
  color: $color;
}

body {
<<<<<<< HEAD
  color: #05014a; 
}

=======
  color: #09066f; 
}

.submit-button {
  color: #09066f; 
  margin: 3% 0;
}

.submit-button:hover {
  color: #09066f;  
}

.custom-placeholder-color::placeholder {
  color: #09066f;
  opacity: 0.7;
}

// .custom-placeholder-color::before {
//   color: #09066f;
// }

.custom-placeholder-color {
  color: #09066f;
}
>>>>>>> main

// none; /* Clear the background */
// 4px solid transparent; /* Set a transparent solid border */
// border-image: linear-gradient(60deg, #e0cee7 0%, #CC8FE9 100%);
// border-image-slice: 1;

// .custom-logout-button {
//   color: #09066f;
//   background: linear-gradient(70deg, #e0cee7 0%, #CC8FE9 100%);  
//   border: none; 
//   padding: 5px 15px;
//   transition: background-color 1s;
// }

// .custom-logout-button:hover {
//   color: #09066f;
//   background: linear-gradient(70deg, #CC8FE9  0%, #e0cee7 100%);
// }

.back-button {
  color: #09066f; 
  border: 2px solid #09066f;
}

.back-button:hover {
  color: #09066f; 
  border: 1px solid #09066f;
}

.open-button {
  color: #09066f;
  border: 2px solid #CC8FE9;
}

.open-button:hover {
  cursor: pointer;
  background: #CC8FE9;
  color: #09066f;
  border: 2px solid #CC8FE9;
}



