$color: steelblue;
$primary: /*rgb(204, 143, 233);*/ #CC8FE9;
$secondary: #CC8FE9;
$body-bg: #4086E2;


@import '~bootstrap/scss/bootstrap.scss';



.my-flix {
  color: $color;
}

body {
  color: #09066f; 
}

.submit-button {
  color: #09066f; 
  margin: 3% 0;
}

.submit-button:hover {
  color: #09066f;  
}

.custom-placeholder-color::placeholder {
  color: #09066f;
  opacity: 0.7;
}

// .custom-placeholder-color::before {
//   color: #09066f;
// }

.custom-placeholder-color {
  color: #09066f;
}

// none; /* Clear the background */
// 4px solid transparent; /* Set a transparent solid border */
// border-image: linear-gradient(60deg, #e0cee7 0%, #CC8FE9 100%);
// border-image-slice: 1;

// .custom-logout-button {
//   color: #09066f;
//   background: linear-gradient(70deg, #e0cee7 0%, #CC8FE9 100%);  
//   border: none; 
//   padding: 5px 15px;
//   transition: background-color 1s;
// }

// .custom-logout-button:hover {
//   color: #09066f;
//   background: linear-gradient(70deg, #CC8FE9  0%, #e0cee7 100%);
// }

.back-button {
  color: #09066f; 
  border: 1px solid #09066f;
}

.back-button:hover {
  color: #09066f; 
  border: 1px solid #09066f;
}

.open-button {
  color: #09066f;
  border: 2px solid #CC8FE9;
}

.open-button:hover {
  cursor: pointer;
  background: #CC8FE9;
  color: #09066f;
  border: 2px solid #CC8FE9;
}

.fav-button {
  color: #09066f;
}

.fav-button:hover {
  color: #09066f;
}

.b-modul-cancel {
  color: #09066f;
}

.b-modul-cancel:hover {
  color: #09066f;
}

// .custom-toggler .navbar-toggler-icon {
//   background-color: #09066f; /* Change the color to your desired color */
// }

// url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

.custom-toggler .navbar-toggler-icon {
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2309066f' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  
}

.custom-toggler .navbar-toggler {
  border-color: #09066f;
}