$color: steelblue;
$primary: /*rgb(204, 143, 233);*/ #CC8FE9;
$secondary: #CC8FE9;
$body-bg: #4086E2;


@import '~bootstrap/scss/bootstrap.scss';

.my-flix {
  color: $color;
}

body {
  color: #05014a; 
}



.custom-logout-button {
  color: #09066f;
  background: none; /* Clear the background */
  border: 4px solid transparent; /* Set a transparent solid border */
  border-image: linear-gradient(60deg, #e0cee7 0%, #CC8FE9 100%);
  border-image-slice: 1;
  padding: 5px 15px; /* Add padding to adjust the button size */

}
